<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<>, initial-scale=1.0">
        <title>Pagina incial</title>
        <link rel="stylesheet" href="../static/CSS/Style.css">
    </head>
    <header class="header">
        <img src="../static/imagens/logo.png" alt="">
        <nav>
            <ul class="menu">
                <li> <a href="index.html">Home</a></li>
                <li><a href="quem_somos.html">Quem somos</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <body background="../static/imagens/fundo2.png">
        <div class="texto">
            <h2>Entre em contato</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt autem, sed dolor esse iure adipisci. Explicabo porro assumenda nam amet quia veniam iure ab quas, consequatur accusamus molestiae, laborum reprehenderit!</p>
        </div>
        <hr>
        <form>
            Seu e-mail:<br>
            <input type="text"> <br>
            Assunto <br>
            <input type="text"> <br>
            Descrição <br>
            <input type="text"> <br>
            <input type="submit"> <br>
        </form>
    </body>
    <footer>
        <div class="direitos">
            <h4><strong>Todos os direitos reservados</strong></h4>
        </div>
    </footer>
</html>