<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<>, initial-scale=1.0">
        <title>Pagina incial</title>
        <link rel="stylesheet" href="../static/CSS/Style.css">
    </head>
    <header class="header"> 
        <img src="../static/imagens/logo.png" alt="">
        <nav>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="quem_somos.html">Quem Somos</a> </li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <body background="../static/imagens/fundo.png">
        <div class="capa">
            <img src="../static/imagens/capa.png" alt="">
        </div>
        <div class="texto">
            <h2>Sobre a universidade</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi pariatur ducimus, quae harum soluta doloribus ipsum cumque sed sint culpa fugit vel. Possimus recusandae molestiae fuga magnam provident soluta repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas qui veritatis, dignissimos assumenda error, fuga perspiciatis aliquam ipsa dicta sint maiores aperiam unde tempora voluptates excepturi earum voluptatum exercitationem?</p>
            <br> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi pariatur ducimus, quae harum soluta doloribus ipsum cumque sed sint culpa fugit vel. Possimus recusandae molestiae fuga magnam provident soluta repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas qui veritatis, dignissimos assumenda error, fuga perspiciatis aliquam ipsa dicta sint maiores aperiam unde tempora voluptates excepturi earum voluptatum exercitationem?</p>
        </div>
    </body>
    <footer>
        <div class="direitos">
            <h4><strong>Todos os direitos reservados</strong></h4>
        </div>
    </footer>
</html>
