<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<>, initial-scale=1.0">
        <title>Pagina incial</title>
        <link rel="stylesheet" href="../static/CSS/Style.css">
    </head>
    <header class="header"> 
        <img src="../static/imagens/logo.png" alt="">
        <nav>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="quem_somos.html">Quem Somos</a> </li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <body background="../static/imagens/fundo2.png">
        <div class="texto">
            <h2>Quem somos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi pariatur ducimus, quae harum soluta doloribus ipsum cumque sed sint culpa fugit vel. Possimus recusandae molestiae fuga magnam provident soluta repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas qui veritatis, dignissimos assumenda error, fuga perspiciatis aliquam ipsa dicta sint maiores aperiam unde tempora voluptates excepturi earum voluptatum exercitationem?</p>
            <br> 
            <h2>5 motivos para estudar aqui</h2>
            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>
            <hr>
            <h2>Objetivos</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus molestiae reprehenderit cumque rem quisquam adipisci cum laborum voluptatum repellendus, deserunt maxime illo quam doloremque quis eum tempora repellat dolor perspiciatis? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe repudiandae fuga quia molestias ex aspernatur aperiam vitae voluptate blanditiis. Exercitationem sed animi fuga neque est, impedit error nulla nemo eum?</p>
        </div>
    </body>
    <footer>
        <div class="direitos">
            <h4><strong>Todos os direitos reservados</strong></h4>
        </div>
    </footer>
</html>
